{% extends "base.html" %}
{% block content %}
<div>
    {% if data|length > 0 %}
    <h1>These are the participants for the {{name[1]}} course</h1>
    <table>
        <tr>
            <th>Participant ID</th>
            <th>Email</th>
        </tr>
        {% for entry in data %}
        <tr>
            <td>{{entry[0]}}</td>
            <td width=85%>{{entry[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data|length == 0 %}
    <h1 id="none">There are currently no participants. Be the first to <a href="{{url_for('join', cid=name[0])}}">Join!</a></h1>
    <style>
        #none{
            background-color: rgb(235, 215, 186);
            text-align: center;
            padding: 200px;
            margin-top: 45px;
        }
    </style>
    {% endif %}
    <a href="{{url_for('display')}}" style="font-size: 23px;">Back</a>
    <style>
        table{
        text-align: left;
        }
    th{
        text-align: center;
        }
    th, td{
        border-right: 1px solid rgb(175, 91, 91);
        background-color: rgb(235, 215, 186);
        padding: 10px;
        font-size: 23px;
        margin: 15px;
        }
    </style>
</div>
{% endblock %}